<div class="my-4 pb-5 public-contact-top">
  <div class="d-flex justify-content-center mt-5">
    <h4 class="style-title">お問い合わせ一覧</h4>
  </div>

  <div class="d-flex justify-content-end mt-5">
    <%= link_to "お問い合わせに戻る", new_contact_path, class: "btn text-white mb-2 mx-5 public-contact-btn" %>
  </div>
  <div class="d-flex justify-content-center mt-1 custom-background">
    <h5 class="mt-2">送信履歴</h5>
  </div>
  <% @contacts.each do |contact| %>
    <div class="custom-table-striped border border-danger d-flex justify-content-start">
      <div class="ml-2 my-2">
       <%= contact.content %>
      </div>
    </div>
  <% end %>
</div>