<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/users/info', user: @user %>
      <h3>グループ新規作成</h3>
      <%= render 'form', group: @group %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>グループ一覧</h2>
        <%= render 'index', groups: @groups %>
      </div>
  </div><!--row end-->
</div>
