<!--探究室一覧-->
<div class="container my-4 pb-5">
  <div class="row  justify-content-start mb-2">
    <h5 class="style-title">探究室一覧</h5>
  </div>
  <div class="row custom-background">
    <div class="col-2">
      <h5>日付</h5>
    </div>
    <div class="col-4 text-left">
      <h5>タグ</h5>
    </div>
    <div class="col text-left">
      <h5>投稿文</h5>
    </div>
  </div>

  <% @labos.each do |labo| %>
  <div class="row custom-table-striped border border-danger">
    <div class="col-2 text-center my-3 ">
      <h5><%= labo.created_at.strftime('%Y/%m/%d') %></h5>
    </div>
    <div class="col-4 text-left my-3">
    <% labo.tags.each do |tag| %>
      <%= tag.title %><br>
    <% end %>
    </div>
    <div class="col text-left my-3">
      <h5><%= link_to labo.body, admin_labo_path(labo.id), class: "style-color" %></h5>
    </div>
  </div>
  <% end %>
  <%#= paginate @labo_pages %>
</div>