<!--タグのジャンル検索-->
<h5>タグ</h5>
<% form_with url: genre_search_path, method: :get do |f| %>
  <% tags.each do |tag| %>
     <%= link_to tag.title, genre_search_path(genre_id: genre.id), method: :get %>
  <% end %>
<% end %>

<!--ログインユーザーならば投稿フォームが表示-->
<% if user && user.user_status == "有効" %>
<h5>投稿フォーム</h5>
<%= form_with model: labo, local: true do |f| %>
<%= f.text_field :title, class: 'form-control title', placeholder: "タイトル" %>
<% end %>
<% end %>
