<h5>探究室のタグコメント一覧</h5>

<h5>日付</h5>
<h5>タグ</h5>
<h5>投稿文</h5>


<% @labos.each do |labo| %>
  <h5><%= labo.created_at %></h5>
  <% labo.tags.each do |tag| %>
    <h5><%= tag.taitl%></h5>
  <% end %>
  <h5><%= link_to labo.body, admin_labo_path(labo.id) %></h5>
<% end %>
<%= paginate @labo_pages %>
