<!--記入欄-->
<%= form_with(model:[music_post, music_post_comment], local: false ) do |f| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: 'form-control', cols: "50", id: "comment_textarea" %>
    </div>
    <div class="col-lg-2 d-flex align-items-end">
      <%= f.submit "送信" %>
    </div>
  </div>
</div>
<% end %>
