
<h1>二胡について</h1>
<h4>二胡の歴史や似たような楽器との違い、素材を簡潔に説明しています</h4>

<h2>二胡の特徴と歴史</h2>
      <p>
        二胡とは中国の伝統楽器です。馬の尾で作った弦を擦ることにより音をだす「擦弦楽器」です。
      </p>

      <p>
        二胡は、胴の前ではなくすぐ上の部分の弦を擦って音を出します。 バイオリンなどと似ていますが、
        音を出すことそのもは比較的簡単です。ただマスターするにはそれなりのトレーニングが必要です。
        様々なバリエーションをご用意しております。
      </p>

      <p>
        日本では似たような楽器として、胡弓が知られています。
        また近年では馬頭琴もメディアによくでてくるようになりました。
      </p>
      <p>
        胡弓は胴の部分が三味線と同じような形で馬頭琴は台形です。同じアジア発祥の擦弦楽器ではありますが、
        演奏方法も形態も異なり、二胡とは全く別の楽器と言えます。
      </p>
      <p>
        二胡の起源は明確ではありません。唐代～宋代にシルクロードを伝い中国に伝来した楽器と言われています。長い年月を経て、
        19世紀末に現在の形の物が中国全土に広がりました。
        <br>
        人間の声を感じさせる独特の深みのある音色は、多くの人の心を惹きつける響きがあります。
        <br>
        曲目も伝統曲のみならず、クラシック、ポピュラー音楽も演奏されるようになり映画音楽、コマーシャルのBGMに使われています。
        また新しく二胡のための楽曲も生まれています。
      </p>

  <h2 class="elementor-heading-title elementor-size-default">二胡の形状と素材</h2>
			<p>
			  代表的な二胡の形状は、写真のように胴（琴筒）の部分が六角形と八角形の二胡です。
			  丸い物も存在します。
			  <br>胴の素材は紫檀、黒檀、 花梨、紅木など堅くて美しい木材が使われます。
			  棹の部分も同じで部分的に象牙や象牙代用品が使われています。竿の頭部には龍の形をした
			  ものも少数ですが存在します。
			  <br><br>胴の部分に張ってある、皮の素材（琴皮）にはニシキヘビの皮が使われています。
			  <br>「絶滅のおそれのある野生動植物の種の国際取引に関する条約(ワシントン条約)」でニシキヘビ皮の取引が禁じられました。<br><br>そのため中国ではさまざまな皮革で代用品の開発・研究が進められています。<br>また中国南部やベトナムでニシキヘビの養殖が復活しつつあります。今後は養殖ニシキヘビ皮の二胡が主流になると思います。（養殖ニシキヘビ又はワシントン条約以前の琴皮という証明書がないと販売・輸出入不可）</p><p>代用皮革にニシキヘビの柄をプリントした物も存在します。</p><p>しかし、おみやげ用や展示目的の安価な二胡は、琴皮だけでなく他の素材もあまり良くありません。当然このような品物は演奏に適さないものです。<br>ネットショップなどでお買い求めになるのはお勧めしません。</p>						</div>

   <style>

    .slider {
      max-width: 100%;
      max-height: 100%;
      display: flex;
      overflow: hidden;
      margin: 0 auto;
    }

    .slider > :first-child {
      animation: scroll 20s infinite linear;
    }

    @keyframes scroll {
      0% { margin-left: 0; }
      20% { margin-left: -100%; }
      50% { margin-left: -200%; }
      70% { margin-left: -300%; }
      100% { margin-left: -400%; }
    }
    
    </style>

    <body>
      <div class="slider">
        <div class="slider-item">
          <%= image_tag '二胡.jpg', style: "width: 800px; height: 600px;" %>
        </div>

        <div class="slider-item">
          <%= image_tag '二胡の教科書.jpg', style: "width: 800px; height: 600px;" %>
        </div>

        <div class="slider-item">
          <%= image_tag '二胡の集まり.jpg', style: "width: 800px; height: 600px;" %>
        </div>

        <div class="slider-item">
          <%= image_tag '二胡演奏.jpg', style: "width: 800px; height: 600px;" %>
        </div>
      </div>
    </body>
