<div class="container text-center" style="margin-top: 50px;">
  <h1 style="font-size: 3rem; font-weight: bold; color: #333;">二胡友へようこそ！</h1>

  <p style="text-align: left; text-center">
    二胡に興味があるけど、よくわからないからこの楽器について詳しく知りたい方も<br>
    二胡愛好家と交流し、励まし合いながら悩みや情報を共有することもできます！<br>
    そして、自身の演奏レベルに合わせた練習曲について迷っている方も登録することでコミュニティが広がります<br>
    日々、自身の演奏技術を向上し投稿して記録としても活用できます
  </p>

  <div class="row">
    <div class="col-5" style="margin-left: 10px;">
      <h4>探究室</h4>
    </div>
    <div class="col-6" style="text-align: left; margin-left: -50px;">
      <p>二胡に興味がある方は探究室をクリックすると覗けます</p>
    </div>


  </div>

  <div class="row">
    <% @labos.each do |labos| %>
      <div class="col-md-3">
        <%= link_to labos_path(tag_id) do %>
          <!-- ここにコンテンツを追加 -->
        <% end %>
      </div>
    <% end %>
  </div>
</div>
