<div class="py-5">
  <div class="row">
    <div class="col">
      <h1 class="top-nikotomo">二胡友へようこそ！</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="d-flex justify-content-center text-center my-5 sample-box-4">
        <p class="text-white top-nikotomo-p">
          二胡に興味があるけど、よくわからないからこの楽器について詳しく知りたい方も<br>
          二胡愛好家と交流し、励まし合いながら悩みや情報を共有することもできます！<br>
          そして、自身の演奏レベルに合わせた練習曲について迷っている方も登録することでコミュニティが広がります<br>
          日々、自身の演奏技術を向上し投稿して記録としても活用できます
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
      <h4 class="text-center mr-5" style="font-size: 24px; font-weight: bold;">
        <%= link_to "探究室", labos_path, class: "fa-regular btn btn-lg w-50 top-nikotomo-labo" %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div>
        <span class="top-nikotomo-labo-check">※二胡に興味がある方は探究室や下にあるタグをクリックすると覗けます</span>
      </div>
    </div>
  </div>

  <div class="row m-0 my-4">
    <% @tags.each do |tag| %>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center my-3 now-nowrap">
      <%= link_to tag.title, labos_tag_path(tag.id), class: "btn mb-2 text-white top-nikotomo-labo-tag" %>
    </div>
    <% end %>
  </div>
</div>
