<div class="container my-4 pb-5">
  <div class="row justify-content-start mb-2">
    <h5 class="style-title">音楽共有一覧</h5>
  </div>
  <div class="row custom-background">
    <div class="col-2 text-center mt-2">
      <h5>日付</h5>
    </div>
    <div class="col-4 text-left mt-2">
      <h5>タイトル</h5>
    </div>
    <div class="col mt-2 text-left mr-2">
      <h5>投稿文</h5>
    </div>
  </div>

  <% @music_posts.each do |music_post| %>
  <div class="row custom-table-striped border border-danger">
    <div class="col-2 text-center mt-2">
      <%= music_post.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="col-4 text-left mt-2">
      <%= link_to music_post.title, admin_music_post_path(music_post.id), class: "style-color" %>
    </div>
    <div class="col mt-2 text-left mr-2">
      <%= music_post.body %>
    </div>
  </div>
  <% end %>
  <%#= paginate @music_posts %>
</div>