<div class="container">
  <div class="row">
    <% @favorite_posts.each do |music_post| %>
      <div class="col">
        <%= link_to music_post.title, user_music_posts_path(music_post) %>
      </div>
      <div class="col">
        <%= link_to music_post.body, user_music_posts_path(music_post) %>
      </div>
    <% end %>
  </div>
</div>
