<div class='container my-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="row my-3">
        <h4 style="display: inline-block; border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">音楽共有投稿編集</h4>
      </div>
    	<%= render 'layouts/error_messages', obj: @music_post %>
  		<%= render 'form', music_post: @music_post %>
  		<div class="row">
  		  <div class="col">
  		    <%= link_to 'マイページに戻る', music_post_path(@music_post), class: "btn text-white my-3", style: "background-color: #D35950" %>
  		  </div>
  		  <div class="col">
  		    <%= link_to '音楽共有へ戻る', music_posts_path, class: "btn text-white my-3", style: "background-color: #982F56;" %>
  		  </div>
  		</div>
  	</div>
  </div>
</div>