<div class="container-fluid">
  <div class="row my-3">
    <div class="col">

      <div class="row ml-2 my-2">
        <h5 class="custom-link-style">会員情報</h5>
      </div>

      <div class="row">
        <div class="col">
          <%= render "public/users/info", user: current_user %>
        </div>
      </div>

      <div class="row">
        <h4 class="mt-3 ml-2">新規投稿</h4>
      </div>

      <div class="row">
        <div class="col">
          <%= render "form", { music_post: @music_post, change_redirect_path: false } %>
        </div>
      </div>
    </div>


    <div class="col-md-8 offset-md-1">
      <div style="max-width: 600px; margin: auto;">
       <%= render "public/music_posts/index", music_posts: @music_posts %>
      </div>
    </div>
  </div>
</div>
