@use '~bootstrap/scss/bootstrap';

.swiper {
  width: 600px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}
/*ページ全体を包むコンテナ*/
 body {
  display: flex;
  flex-direction: column;
  background-color: #FFFAF0;
  min-height: 100vh;/*ブラウザのビューポートの高さまで伸ばす*/
  text-align: center; /* ページ全体を中央に配置 */
  font-family: Arial, sans-serif; /* フォントを指定 */
  }

  /*メインコンテンツ*/
  main {
    flex: 1;/*footerがページの一番下になるよう可変性*/
  }

  p {
    margin: 20px auto; /* パラグラフを中央に配置 */
    max-width: 600px; /* 最大幅を指定 */
    text-align: left; /* テキストを左寄せに配置 */
    line-height: 1.6; /* 行間を調整 */
  }

  header {
      background-color: #DC143C;
  }

  .fa-magnifying-glass {
      color: red;
  }

  /* footer（共通） */
  footer {
    width: 100%;
    background-color: #DC143C;
    color: #ffffff; /* 文字色を白に設定 */
    text-align: center;
  }


  // 余白の打ち消し
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  // admin側のテーブル替わり
  .custom-background {
    background-color: #E0A6A8;
  }

  // admim側のテーブルストライプ替わり
  .custom-table-striped:nth-child(odd) {
    background-color: #F9D9DA;
  }

  // admin側の画像をふちで囲んでいる
  .custom-border {
    border: 2px solid #F9D9DA;
  }
  // admin側の二胡情報の見出しに使用
  .bg-highlight {
    background-color: #E0A6A8;
    color: #000000;;
  }

  // public側のボタンの色を変えている
  .custom-button {
    background-color: #E0A6A8;
  }

  // ニックネームのリンクの色指定
  .custom-link-style {
    color: #000000; //色指定
    font-weight: bold;
  }
  // コメントアイコン
  .comment-icon {
    color: #762C23;
  }

  // // 画面の見出し
  .style-title {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  // 文字のリンクの色を黒へ
  .style-color {
    color: black;
  }

  a.style-color {
    color: black;
    text-decoration: none;
  }

  a.style-color:hover {
    font-weight: 600;
  }

  // 折り返しをさせない
  .now-body {
    flex-wrap: nowrap;
  }

  // 折り返しをさせない
  .now-nowrap {
    white-space: nowrap;
  }

  // グループの紹介内容
  .group-background {
    background-color: #F9D9DA;
  }

  // グループに加入しているユーザー名
  a.group-nickname {
    display: inline-block;
    border-bottom: 2px solid #F07C81;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
  }

  // グループの一覧ボタン
  .group-btn {
    background-color: #F5765F;
  }

  // adminのtop
  .admin-top {
    max-width: 800px;
    margin: auto;
  }

  // adminの利用内容
  .admin-title {
    display: inline-block;
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  // adminの利用者名
  .admin-color {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  // adminの探究室一覧へ
  .admin-background-btn {
    background-color: #F5765F;
  }

  // adminの探究室コメント
  .admin-style-color {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    text-decoration: none;
  }

  // adminの音楽共有一覧へ
  .admin-style-color01 {
    background-color: #F5765F;
  }

  // adminの音楽共有コメント
  .admin-style-comment {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    text-decoration: none;
  }

  // adminの音楽共有
  .admin-style-block {
    display: block;
  }

  // admonのログイン
  .admin-style-top {
    max-width: 900px;
    margin: auto;
  }

  // adminのログインタイトル
  .admin-style-title {
    text-decoration: underline;
    text-decoration-color: #CD0000;
  }

  // adminのログインボタン
  .admin-style-btn {
    background-color: #67063A;
  }

  // adminのtagのcomment
  .admin-style-comment {
    color: #744199;
    margin: 0;
    padding: 0;
  }

  // adominのtagの新規作成
  .admin-style-tag {
    text-decoration: underline;
    text-decoration-color: #795548;
    font-size: 24px;
    font-weight: bold;
  }

  // adminのtagボタン
  .admin-style-tag-btn {
    background-color: #F5765F;
  }

  // adminのtagのstyle
  .admin-style-tag-display {
    display: none;
  }

  // adminのtagの保存btn
  .admin-style-tag-btn01 {
    background-color: #982F56;
  }

  // adminのuserのbtn
  .admin-style-user-btn01 {
    background-color: #E88A3A;
  }

  // adminのuserのbtn
  .admin-style-user-btn02 {
    background-color: #F5765F;
  }

  // adminのuserの持つ二胡
  .admin-style-user-niko {
    font-size: 24px;
    font-weight: bold;
  }

  // adminのuserのbtn
  .admin-style-user-show01 {
    background-color: #F5765F;
  }

  // adminのuserのbtn
  .admin-style-user-show02 {
    background-color: #F55FBE;
  }


  // ==========public===============
  // public側お問い合わせ
  .public-contact-top {
    max-width: 650px;
    margin: auto;
  }

  // public側お問い合わせbtn
  .public-contact-btn {
    background-color: #F5765F;
  }

  // public側送信btn
  .public-contact-submit {
    background-color: #982F56;
  }

  // public側送信お問い合わせ一覧btn
  .public-contacts-btn {
    background-color: #D35950;
  }

  // public側のいいねbtn
  .favorite01 {
    color: red;
  }

  .favorite02 {
    color: black;
  }

  .favorite03 {
    color: blue;
  }

  // ===================================
  // グループの見出し
  .group-index-style {
    display: inline-block;
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-weight: bold;
  }

  // グループの投稿btn
  .group-new-btn {
    background-color: #F5765F;
  }

  // グループの投稿の各btn
  // 編集
  .group-btn01 {
    background-color: #B5A060;
  }
  // 入室
  .group-btn02 {
    background-color: #F46760;
  }
  // 加入
  .group-btn03 {
    background-color: #B34812;
  }

  // group-show一覧
  .group-btn04 {
    background-color: #B85C0D;
  }

// =======================================
  // about 影
  .about-shadow {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, .3);
  }

  // 余白をなくす
  .about-h1 {
    margin: 0;
  }

  // 二胡について
  .about-niko {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #CD0000;
    background-color:#efc4c0;
  }

  // 二胡の説明
  .about-niko-p {
    padding:1em; background:#ffffff;
  }

  .about-niko-img {
    width: 300px;
    height: 200px;
  }
  // ===============================
  // 二胡友top
  .top-nikotomo {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
    text-decoration-color: #CD0000;
  }

  // 二胡友top-p
  .top-nikotomo-p {
    text-align: left;
  }

  // 二胡友top-labo-btn
  .top-nikotomo-labo {
    background-color: #c24f59; color: #ffffff;
  }

  // 二胡友top-labo-check
  .top-nikotomo-labo-check {
    white-space: nowrap;
    color: #0f0f0f;
  }

  // 二胡友top-labo-tag
  .top-nikotomo-labo-tag {
    background-color: #c24f59;
  }

// ==================================
  // タグ登録・投稿
  .labo-tag-title {
    display: inline-block;
    color: #FFFFFF;
    background-color: #DB8278;
  }

  a.labo-tag-title {
    text-decoration: none;
    font-weight: 600;
  }

  // タグ登録・投稿フォーム
  a.labo-tag-style {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  .labo-labo-new {
    bottom : 40px;
  }
  // タグ登録・投稿保存btn
  .labo-tag-submit {
    background-color: #DC7681;
  }

  // 探究室一覧・探究室の扉
  .labo-style-title {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  // 管理者とのお約束
  .labo-admin-promise {
    white-space: nowrap;
    color: #E5391E;
  }

  // 探究室user画像
  .labo-user-img {
    max-width: 60px;
    height: auto;
  }

  // 探究室show
  .labo-show-submit {
    background-color: #762C23;
  }

  // 探究室show-一覧へ
  a.labo-show-index {
    background-color: #F5765F;
    color: #ffffff;
  }

  // 探究室show-style
  a.labo-show-style {
    border-bottom: 2px solid #F07C81;
    color: #000000;
  }
  // ================================
  // タグ検索用一覧
  .tag-labo-title {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    text-decoration: none;
    font-weight: 600;

    font-size: 24px;
    font-weight: bold;
  }

  // topへ戻る
  .tag-labo-top {
    background-color: #6946EB;
  }
  // =================================
  // 音楽共有投稿フォーム
  .music_post-form-btn {
    background-color: #6946EB;
  }

  // 音楽共有見出し
  .music_post-edit-title {
    display: inline-block;
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  // 更新btn
  .music_post-edit-submit {
    background-color: #6946EB;
  }

  // マイーページ
  .music_post-edit-My {
    background-color: #D35950;
  }

  // 一覧へ戻る
  .music_post-edit-index {
    background-color: #982F56;
  }

  // 音楽共有のindex
  .music_post-index-style {
    max-width: 600px;
    margin: auto;
  }

  // 投稿内容
  .music_post-index-body {
    color: black;
    display: inline-block;
    border-bottom: 2px solid #F07C81;
  }

   .music_post-index-btn-size {
     width: 100px;
   }

  // ================================
  // 新規投稿
  .registrations-title {
    text-decoration: underline;
    text-decoration-color: #CD0000;
  }

  .registrations-title-block {
    display: block;
  }

  // 新規登録ボタン
  .registrations-btn {
    background-color: #F5765F;
  }

  // 登録済みのuserはログインへ
  .registrations-style {
    text-decoration: underline;
    text-decoration-color: #CD0000;
  }
  // ================================
  // userのログイン
  .sessions-title {
    text-decoration: underline;
    text-decoration-color: #CD0000;
  }

  // ゲストログイン
  .guest-btn {
    background-color: #5F1D35
  }
  // userログインbtn
  .sessions-submit {
    background-color: #F5765F;
  }

  // 登録がまだだったら
  .sessions-style {
    text-decoration: underline;
    text-decoration-color: #CD0000;
  }

  .sessions-link {
    color: black;
    background-color: #B57874;
  }
  // ================================
  // フォロー・フォロワー
  .relationships01 {
    background-color: #982F56;
  }

  .relationships02 {
    background-color: #F5765F;
  }

  // フォロー・フォロワー
  .relationships-title {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
  }
  // =================================
  // user_info
  .love-style {
    color: #6b3b3f;
  }

  .love-style02 {
    color: #FFFFFF;
  }
  // =================================
  // user編集・二胡の情報
  // 二胡登録ボタン
  .niko-submit {
    background-color: #F55FBE;
  }
  // editの見出し
  .user-edit-title {
    display: inline-block;
    border-bottom: 2px solid #F07C81;
    color: #000000;
  }

  // マイページへ戻る
  .user-edit-My {
    background-color: #F5765F;
  }

  // userの編集保存
  .user-edit-submit {
    background-color: #F55FBE;
  }

  .user-confirm-h1 {
    text-shadow: -1px -1px 5px rgba(160,82,45,0.8),
          1px -1px 5px rgba(160,82,45,0.8),
          -1px 1px 5px rgba(160,82,45,0.8),
          1px 1px 5px rgba(160,82,45,0.8); color: white; animation: blink 3s infinite;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  // 退会しないボタン
  .user-edit-btn {
    background-color: #22E6D2;
  }

  //退会して閲覧できるもの
  .user-confirm-p {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-weight: bold;
  }

  // =================================
  // お気に入り一覧
  .favorite-title {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  .favorite-title-p {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-weight: bold;
    margin: 0;
  }

  // いいね
  .favorite-title-i {
    color: red;
  }

  .favorite-title-style {
    color: black;
    font-weight: bold;
  }

  .favorite-p {
    color: #000000; margin: 0;
  }

  // user検索用
  .user-index {
    border-bottom: 2px solid #F07C81;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  // userのshowの幅設定
  .user-show-style {
    max-width: 800px; margin: auto;
  }
  // =================================
  // 共通テンプレート
  .app-style {
    margin-bottom: -48px;
  }

  // フッターの管理者の表示
  a.footer-style-color {
    color: #ffffff;
    font-weight: 600;

  }
  // バリデーションメッセージ
  .app-style-bottom {
    margin-bottom: -16px;
  }
  // =================================
  // 画面のサイズを指定
  .style-top {
    max-width: 650px;
    margin: auto;
  }

  // 背景をストライプ模様に設定
  .Lines_v2 {
    background-image: linear-gradient(0deg, #FFFAF0, 50%, #FFFFF9 50%);
    background-size: 20px 20px;
  }

  // /* top要素のスタイル */
  .public-homes__top--background {
    top: 0;
    left: 0;
    background-image: url('../images/top用画像.jpg');
    background-size: cover;

    //height: 100%;
  }

  // topの吹き出し
  .sample-box-4 {
    border: 4px solid #515151;
    background-color: #CC8A85;
    text-align: center;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    width: 100%;
    padding: 2em;
  }

  // /* about要素のスタイル */
  .public-homes__about--background {
    background-image: url('../images/二胡についての背景画像.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

  }


  // 音楽共有のソート機能のボタン
  .submitbtn {
    background: #6b3b3f;
    color: #fff;
  }

  // ================================

  // =========AI画像認識==============
  // .label {
  //   background-color: #337ab7;
  //   font-weight: 500;
  //   display: inline;
  //   padding: .2em .6em .3em;
  //   font-size: 75%;
  //   font-weight: bold;
  //   line-height: 1;
  //   color: #fff;
  //   text-align: center;
  //   white-space: nowrap;
  //   vertical-align: baseline;
  //   border-radius: .25em;
  // }
  // =================================

  // フォントの設定全てに適用
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
  html, body {
  font-family: "Raleway", "M PLUS 1p", sans-serif;
  }


  @charset "utf-8";

  /*========= ページトップのためのCSS ===============*/
  /*リンクの形状*/
  #page-top a{
    display: flex;
    justify-content:center;
    align-items:center;
    background: #F29957;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size:1.0rem;
    transition:all 0.3s;
  }

  #page-top a:hover{
    background: #777;
  }

  /*リンクを右下に固定*/
  #page-top {
    position: fixed;
    right: 10px;
    z-index: 2;
      /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
  }

  /*　上に上がる動き　*/

  #page-top.UpMove{
    animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

  /*　下に下がる動き　*/

  #page-top.DownMove{
    animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
    from {
      opacity: 1;
    transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
  }

/*== ボタン共通設定 いいね一覧ボタン*/
.btn02 {
    /*背景の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    display: inline-block;
    width: 100%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
}

  /*ボタン内側の設定*/
  .btn02 span {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #333;
      /* 重なりを3Dで表示 */
      transform-style: preserve-3d;
      /* アニメーションの設定 数字が少なくなるほど早く回転 */
      transition: 0.5s;
  }

  /*== くるっと回転（手前に） */

  /* 回転前 */
  .rotatefront span:nth-child(1) {
      background: #fff;
      color: #000;
      transform: rotateX(0deg);/*はじめは回転なし*/
      transform-origin: 0 50%  -25px;/* 回転する起点 */
  }

  /*hoverをした後の形状*/
  .rotatefront:hover span:nth-child(1) {
      transform: rotateX(-90deg);/* X軸に-90度回転 */
  }

  /* 回転後 */
  .rotatefront span:nth-child(2) {
      background: #6b3b3f;
      color: #fff;
      transform: rotateX(90deg);/*はじめはX軸に90度回転*/
      transform-origin: 0 50%  -25px;/* 回転する起点 */
  }

  /*hoverをした後の形状*/
  .rotatefront:hover span:nth-child(2) {
      transform: rotateX(0deg);/* X軸に0度回転 */
  }

  /*表示するテキストが切り替わる userの編集ボタン*/
  .btntextchange{
      /*テキストの基点とするためrelativeを指定*/
    position: relative;
      /*ボタンの形状*/
    border: 1px solid #555;
    border-radius:25px;
      min-width:210px;
    padding: 20px;
      text-align: center;
    display: inline-block;
      text-decoration: none;
      color: #333;
      outline: none;
      /*アニメーションの指定*/
      transition: all .2s;
  }

  /*hoverした際の変化*/
  .btntextchange:hover{
    background: #6b3b3f;
    color: #fff;
  }

  .btntextchange span{
      /*絶対配置でテキストの位置を決める*/
    position: absolute;
    left: 50%;
    top:50%;
      transform:translate(-50%,-50%);
      /*アニメーションの指定*/
      transition: all .5s;
    /*ブロック要素にしてテキスト折り返しなし*/
    display: block;
    white-space: nowrap;
  }

  /*差し替わるテキストの設定*/
  .btntextchange span:nth-child(2){
    opacity:0;/*透過0に*/
  }

  /*hoverするとテキストが入れ替わる設定*/
  .btntextchange:hover span:nth-child(1){
    opacity:0;/*透過0に*/
  }

  .btntextchange:hover span:nth-child(2){
    opacity:1;/*不透明に*/
  }
