@use '~bootstrap/scss/bootstrap';

.swiper {
  width: 600px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}
/*ページ全体を包むコンテナ*/
 body {
  display: flex;
  flex-direction: column;
  background-color: #FFFAF0;
  min-height: 100vh;/*ブラウザのビューポートの高さまで伸ばす*/
  text-align: center; /* ページ全体を中央に配置 */
  font-family: Arial, sans-serif; /* フォントを指定 */
  }

  /*メインコンテンツ*/
  main {
    flex: 1;/*footerがページの一番下になるよう可変性*/
  }

  p {
    margin: 20px auto; /* パラグラフを中央に配置 */
    max-width: 600px; /* 最大幅を指定 */
    text-align: left; /* テキストを左寄せに配置 */
    line-height: 1.6; /* 行間を調整 */
  }

  header {
      background-color: #DC143C;
  }

  .fa-magnifying-glass {
      color: red;
  }

  /* footer（共通） */
  footer {
    width: 100%;
    background-color: #DC143C;
    color: #ffffff; /* 文字色を白に設定 */
    text-align: center;
  }

  // btn用色変更
 $theme-colors: (

  "primary": #b3a9c8,

  "secondary": #6d7d90,

  "info": #E045E5,

  "warning": #F0CB0C,

  "danger": #dbac9e,

  "success":#A4E6AC,

  "outline-dark": #E05C19,
  );

  .non-link-text {
    color: inherit; /* リンクと同じ色にする */
    text-decoration: none; /* 下線をなくす */
    cursor: default; /* カーソルをデフォルトにする */
  }

  // admin側のテーブル替わり
  .custom-background {
    background-color: #E0A6A8;
  }

  // admim側のテーブルストライプ替わり
  .custom-table-striped:nth-child(odd) {
    background-color: #F9D9DA;
  }

  // admin側の画像をふちで囲んでいる
  .custom-border {
    border: 2px solid #F9D9DA;
  }
  // admin側の二胡情報の見出しに使用
  .bg-highlight {
    background-color: #E0A6A8;
    color: #000000;;
  }

  // public側のボタンの色を変えている
  .custom-button {
    background-color: #E0A6A8;
  }

  // ニックネームのリンクの色指定
  .custom-link-style {
    color: #000000; //色指定
    font-weight: bold;
    // text-decoration: underline; // アンダーライン
  }
  // コメントアイコン
  .comment-icon {
    color: #762C23;
  }

