<!--グループ一覧-->
<div class="container my-4">
  <div class="row mb-2">
    <h5 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">グループ一覧</h5>
  </div>
  <div class="row custom-background">
    <div class="col-2 mt-1">
      <h5>作成日時</h5>
    </div>
    <div class="col mt-1 text-left">
      <h5>グループ名</h5>
    </div>
    <div class="col mt-1 text-left">
      <h5>紹介内容</h5>
    </div>
    <div class="col mt-1">
      <h5>グループ主</h5>
    </div>
  </div>

  <% @groups.each do |group| %>
  <div class="row align-items-center custom-table-striped border border-danger">
    <div class="col-2 text-center">
      <%= group.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="col text-left">
      <h5><%= link_to group.name, admin_group_path(group.id), style: "color: #000000;" %></h5>
    </div>
    <div class="col text-left my-2">
      <%= group.body %>
    </div>
    <div class="col">
      <%= link_to group.user.nickname, admin_user_path(group.user.id), style: "color: #000000;" %>
    </div>
  </div>
  <% end %>

  <div class="d-flex justify-condivnt-cendivr">
  <%#= paginate @group_page %>
  </div>
</div>
