<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="table-dark">
          <tr align="center">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr align="center">
            <td><%= user.id %></td>
            <td><%= link_to user.admin_side_nickname, admin_users_path(user) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if user.is_active %>
                <p class="text-success"><strong>有効</strong></p>
              <% elsif %>
                <p class="text-muted"><strong>退会</strong></p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>