  <div class="row custom-background">
    <div class="col-2"></div>
    <div class="col-3 mt-1 text-left">
      <h5>氏名</h5>
    </div>
    <div class="col mt-1 text-left">
      <h5>自己紹介文</h5>
    </div>
    <div class="col-2"></div>
  </div>
<!--user検索用-->
<% users.each do |user|%>
<div class="row custom-table-striped border border-danger">
  <div class="col-2 my-2 text-left">
    <%= image_tag user.get_profile_image, size: "50x50", class: "custom-border" %>
  </div>
  <div class="col-3 text-left d-flex align-items-center">
    <%= link_to user.nickname, user_path(user.id) %>
  </div>
  <div class="col text-left d-flex align-items-center">
    <h6><%= user.introduction %></h6>
  </div>
  <% if current_user != @user %>
    <div class="col-2 d-flex align-items-center">
      <%= render 'public/relationships/btn', user: user%>
    </div>
  <% end %>
</div>
<% end %>