<!--登録した画像表示-->
<div><%= image_tag user.get_profile_image, size: '100x100' %></div>
<!--ニックネーム-->
<h4>ニックネーム</h4>
<h4><%= user.nickname %></h4>
<!--自己紹介文表示-->
<div><%= user.introduction %></div>


<!--各一覧を押下すると表示される-->

<% if current_user %>
  <h5>フォロー: <%#= link_to user.followings.count, user_user_followings_path(user) %></h5>
  <h5>フォロワー: <%#= link_to user.followers.count, user_user_followers_path(user) %></h5>
  <h5>いいね <%#= link_to "#{user.music_post_favorites.count}", user_music_post_favorites_path(user) %></h5>
<% end %>
