<!--登録した画像表示-->
<div><%= image_tag user.get_profile_image, size: '50x50' %></div>
<!--ニックネーム-->
<h4>ニックネーム</h4>
<div><%= user.nickname %></div>
<!--自己紹介文表示-->
<div><%= user.introduction %></div>
<!--ユーザーがグループに参加していたら表示させる-->
<% if user.groups.any? %>
  <h4>グループlist</h4>
  <% user.groupes.each do |group| %>
    <%= group.inspect %><br>
  <% end %>
<% end %>


<!--各一覧を押下すると表示される-->

<% if current_user %>
  <h5>フォロー: <%#= link_to user.followings.count, user_user_followings_path(user) %></h5>
  <h5>フォロワー: <%#= link_to user.followers.count, user_user_followers_path(user) %></h5>
  <h5>いいね <%#= link_to "#{user.music_post_favorites.count}", user_music_post_favorites_path(user) %></h5>
<% end %>