
      
      <!--お気に入りの二胡の情報表示-->
      <% if currnt_user != user %>
      <div></div>
      
      <div class='row'>
        <!--current_user が user と異なる場合にはフォロー/フォロワー関連のボタンを表示-->
        <% if current_user != user %>
          <td><%= render "relationships/btn", user: @user %></td>
        <% else %>
        <!--同じ場合にはユーザーの編集リンクを表示-->
          <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      </div>
      <!--お気に入りの二胡の情報表示-->
      <% if currnt_user != user %>
      
      </div>
      <h5></h5>
      </div>
      <div>
        
      </div>
    </div>
  <% end %>
</div>
