<div class="container my-4">
  <div class="mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 d-flex align-items-center flex-column">
        <h1 class="text-center" style="text-shadow: -1px -1px 5px rgba(160,82,45,0.8),
          1px -1px 5px rgba(160,82,45,0.8),
          -1px 1px 5px rgba(160,82,45,0.8),
          1px 1px 5px rgba(160,82,45,0.8); color: white; animation: blink 3s infinite;">
           本当に退会しますか？
        </h1>


        <style>
          @keyframes blink {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
          }
        </style>

        <p>
          下記の機能が使用できなくなりますがよろしいでしょうか？
        </p>

        <p class="text-left">
          ・フォロー/フォロワーができなくなります<br>
          ・グループ参加/グループ作成/閲覧できなくなります<br>
          ・音楽共有での閲覧・投稿できなくなります<br>
          ・音楽共有でのお気に入り登録が削除されます<br>
          ・探究室の投稿ができなくなります
        </p>


          <div class="row">
            <div class="col">
              <%= link_to "退会しない", edit_user_path(current_user), class: "btn btn-warning mb-2 mx-5", style: "background-color: #22E6D2;" %>
            </div>
          </div>

          <p style="border-bottom: 2px solid #F07C81; color: #000000; font-weight: bold;">退会して閲覧できるのは下記のとおりです</p>



          <p class="text-left">
            ・探究室は閲覧のみできます<br>
            ・それでもかまわない！という方は退会するを押してください
          </p>

          <div class="row">
            <div class="col">
            <!--ゲストログインである限り退会ボタンを押下しても反応しない-->
            <% if @user.guest_user? %>
              <%= content_tag :div, "ゲストユーザーは退会できません。", class: "alert alert-warning" %>
            <% else %>
              <%= link_to "退会する", user_users_withdraw_path(@user.id), method: :delete, class: "btn btn-danger", data: { confirm: "本当に退会しますか？" } %>
            <% end %>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>