<!--フォロー-->
<div class="container my-4">
  <div class="d-flex justify-content-center my-5">
    <h4 class="relationships-title"><%= @user.nickname %> さんがフォロー</h4>
  </div>

  <% if @users.exists? %>
    <%= render 'public/users/index', users: @users %>
  <% else %>
  <div class="d-flex justify-content-center my-5">
    <h5 class="custom-link-style">ユーザーはいません</h5>
  </div>
  <% end %>
</div>
