<!--フォロー-->
<div class="container">
  <div class="row">
    <h2 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">フォロー</h2>
  </div>

  <% if @users.exists? %>
    <%= render 'public/users/index', users: @users %>
  <% else %>
  <div class="row">
    <div class="col">
      <h5>ユーザーはいません</h5>
    </div>
  </div>
  <% end %>
</div>
