<div class="container mb-5 py-5">
  <div class="row my-3">
    <h5 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">会員検索一覧</h5>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'public/users/index', users: @users %>
    </div>
  </div>
</div>