<div class="container">
  <div class="container-fluid"></div>
    <div class="row align-items-center justify-content-center justify-content-sm-between">
      <div class="col-auto">
        <span class="text-light">Copyright &copy; ALL RIGHTS RESERVED PF / niko_tomo</span>
      </div>
    </div>
  </div>
</div>