<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <span class="text-center">Copyright &copy; ALL RIGHTS RESERVED PF / <%= link_to "niko_tomo(管理者)", admin_session_path, style: "color: #ffffff;" %></span>
    </div>
  </div>
</div>
