<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <span class="text-center">Copyright &copy; ALL RIGHTS RESERVED PF / niko_tomo</span>
    </div>
  </div>
</div>
