<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <!--どちらもログインしていない場合は表示-->
      <% unless admin_signed_in? || user_signed_in? %>
        <span class="text-center">Copyright &copy; ALL RIGHTS RESERVED PF / <%= link_to "niko_tomo(管理者はこちらから)", admin_session_path, class: "footer-style-color" %></span>
      <% else%>
        <span class="text-center footer-style-color">Copyright &copy; ALL RIGHTS RESERVED PF / niko_tomo</span>
      <% end %>
    </div>
  </div>
</div>
